*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Always show a scrollbar to prevent layout shift */
  overflow-y: scroll;
}

body {
  color: $brightPrim;
  background-color: $brightBgrd;
  font-family: "Inter", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 18px;
  line-height: 1.7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
}

h4 {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 15px;
}

div.hero {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 0px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.hero-font {
  width: 400px;
  height: auto;
}

img.hero-img {
  max-width: 65%;
  width: 800px;
  height: auto;
}

@media only screen and (max-width: 900px) {
  div.hero {
    flex-direction: column;
    padding: 0;
    margin: 20px auto;
  }

  img.hero-img {
    display: none;
  }

  img.hero-font {
    padding: 0 10px;
    max-width: 500px;
  }
}

.hero-headline {
  font-size: 2.8em;
  margin-bottom: 0px;
}

a {
  color: $brightPrim;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: rgba($brightPrim, 0.3);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  margin: 20px auto;
  padding: 0.5em 1em;
  z-index: 100;

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: $heroDark;
    position: absolute;
    height: 4px;
    width: 25px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    background: white;
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    /* set to transparent to hide middle line through cross */
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
    background: white;
  }

  a {
    text-decoration: none;
    font-weight: 600;
  }

  .nav-item {
    &.active {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 6px;
      text-decoration-color: $brightScnd;
    }

    &:hover {
      color: $brightScnd;
    }
  }

  @media (max-width: 800px) {
    #icon-sun path {
      fill: white;
    }

    .menu-button-container {
      display: flex;
    }

    .menu {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }

    #menu-toggle:checked ~ .menu li {
      height: auto;
    }

    .menu > li {
      display: flex;
      justify-content: center;
      width: 100%;
      color: white;
      background-color: $darkBgrd;
    }

    .menu > li > a {
      display: block;
      width: 100%;
      text-align: center;
      padding: 2.4em;
      cursor: pointer;
      color: white;
      border-bottom: 1px solid rgba(white, 0.3);
    }
  }

  @media (prefers-color-scheme: dark) {
    .menu-button,
    .menu-button::before,
    .menu-button::after {
      background-color: white;
    }
  }
}

.container {
  flex: 1 0 auto;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3em 0;
}

.section-wrapper {
  padding: 1em;
  margin: 50px auto;
  max-width: 800px;
}

.section-content {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.section-image {
  max-width: 50%;
  height: auto;
  margin: auto;
}

.section-text {
  max-width: 50%;
  text-align: left;
}

.section-paragraph {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

b {
  color: black;
}

.dark b {
  color: white;
}

ul,
ol {
  line-height: 1.5em;
}

ul {
  list-style-type: square;
}

ol ol,
ul ul {
  margin-top: 1em;
}

ol li,
ul li {
  margin-bottom: 1em;
}

.topbox {
  display: flex;
  margin-top: 20px;
  justify-content: end;
}

blockquote {
  font-style: italic;
  margin: 20px -25px;
  padding: 0px 20px;
  border-left: 4px solid $brightPrim;
}

.footer {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 40px auto;

  .copyright {
    color: $brightScnd;
  }
}

.font-medium {
  font-weight: 500;
}

.button {
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
  background-color: $brightPrim;
  color: white;
  white-space: nowrap;
}

.button a {
  color: white;
}

.dark {
  color: $darkPrim;
  background-color: $darkBgrd;
}

.dark a {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: $brightBgrd;
}

.dark h1,
.dark h2 {
  color: white;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  text-decoration-color: $brightBgrd;
}

#icon-moon {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

#icon-sun {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

del {
  opacity: 0.6;
}

hr {
  margin: 40px 0 20px 0;
  border: none;
  height: 1px;
  background-color: $darkBgrd;
}

@media (max-width: 900px) {
  .hero-headline {
    font-size: 2.5em;
  }

  img.hero {
    width: 100%;
  }

  .section-image {
    display: none;
  }

  .section-content {
    max-width: auto;
  }

  .section-text {
    max-width: 100%;
  }
}

.logo {
  fill: $darkBgrd;
  transition: fill 0.2s;
}

.logo:hover {
  fill: $brightScnd;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid rgba(white, 0.3);
  border-bottom: 1px solid rgba(white, 0.3);
}

th:last-child,
td:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

@media (max-width: 800px) {
  table,
  th,
  td {
    font-size: smaller;
    padding: 4px;
  }
}

.toc > summary {
  cursor: pointer;
  color: white;
  padding: 1.5em;
  background-color: $brightPrim;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 110%;
  margin-left: -5%;
}

.toc > summary::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30"><path fill="none" d="M0 0h24v24H0z"/><path fill="white" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/></svg>');
  float: right;
}

@media (max-width: 500px) {
  .toc > summary::after {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $heroDark;
    color: $darkPrim;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white;
    }

    .logo {
      fill: white;
    }

    nav {
      .nav-item.active {
        text-decoration-color: $brightBgrd;
      }

      .nav-item:hover {
        color: $brightBgrd;
      }
    }

    .dark {
      background-color: $darkBgrd;
    }

    /* Allow to explicitly invert colors in dark mode where needed */
    .invert {
      filter: invert(1);
    }

    a {
      color: white;
      text-decoration-color: rgba(white, 0.3);
    }

    article code:not(pre > code) {
      color: white;
      border: 1px solid rgba(white, 0.5);
    }

    b {
      color: white;
    }

    blockquote {
      border-left-color: $brightScnd;
    }
  }
}
