.faq-container,
.faq-section {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
}

.faq-section {
    margin-block: 2rem;
}

.faq-panel.skew-top {
    width: 100vw;
    margin-top: 5em;
    margin-bottom: 0;
    margin-inline: calc(50% - 50vw);
    padding: 5em 1rem 4em;
    background-color: $darkBgrdDeep;

    &::before {
        transform: skewY(-1deg);
    }

    h2 {
        margin-top: 0;
        color: white;
    }
}

.article-content-wrapper:has(.faq-panel) {
    padding-bottom: 0;
}


.faq-item {
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba($darkBgrd, 0.1);
    overflow: hidden;
}

.faq-item summary {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $brightBgrdScnd;
    color: $brightPrim;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.faq-item summary::-webkit-details-marker {
    display: none;
}

.faq-item summary::after {
    content: "\002B";
    color: $brightScnd;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.faq-item[open] summary::after {
    transform: rotate(45deg);
}

.faq-item p {
    padding: 1rem;
    margin: 0;
    color: $brightPrim;
    background: $brightBgrdLight;
    line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
    .faq-item {
        background: $heroDark;
    }

    .faq-item summary {
        background: $darkBgrd;
        color: $darkPrim;
    }

    .faq-item p {
        color: $darkPrim;
        background: $darkBgrdLight;
    }
}
