.faq-section {
  width: 100%;
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.faq-item {
  margin-bottom: 10px;
  width: 100%;
}

.faq-details {
  width: 100%;
}

.faq-summary {
  font-weight: bold;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 1.1em;
}
