$brightBgrd: #fab71c;
$brightBgrdScnd: #ffd885;
$brightBgrdLight: #fef1d2;
$darkBgrd: #1a1c26;
$darkBgrdLight: #3a3f52;
$brightPrim: #111;
$brightScnd: #ee3856;
$brightScndLight: rgba(238, 56, 86, 0.1);
$darkPrim: #cdcaca;
$heroDark: #2d3140;
