<p>
  <i>Published: {{ page.date }}{%- if page.extra.update -%}. Last revision: {{ page.extra.update }}
    {% endif %}
  </i>
  <br />
  <i>
    Author:
    <a href="/about"> Matthias Endler </a>
  </i>
  <br />
  <i>
    Editor:
    <a href="https://mastodon.social/@m3t0r@hachyderm.io" target="_blank" rel="noopener" rel="noreferrer" >Simon Brüggen</a >
  </i>
  </i>
    {% if page.extra.reviews %}
    <br />
    <i>Reviewers:
      {% for review in page.extra.reviews %} {%- if loop.last == false %}<a
      href="{{ review.link }}"
      target="_blank"
      rel="noopener"
      rel="noreferrer"
      >{{ review.name }}</a
    >, {% endif %} {%- if loop.last == true %}{%- if page.extra.reviews | length
    > 1 %}and{% endif %}
    <a href="{{ review.link }}" target="_blank" rel="noopener" rel="noreferrer"
      >{{ review.name }}</a
    >{% endif %} {%- endfor %}
    </i> 
    {% endif %}
</p>
