*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Always show a scrollbar to prevent layout shift */
  overflow-y: scroll;
}

body {
  color: $brightPrim;
  background-color: $brightBgrd;
  font-family: 'Inter', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 18px;
  line-height: 1.7;
}

.app {
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6{
  margin:0;padding:0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  font-weight: 300;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 20px;
}

div.hero {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.hero-font {
  width: 400px; 
  height: auto;
}

img.hero-img {
  max-width: 65%;
  width: 800px;
  height: auto;
}

@media only screen and (max-width: 900px) {
  div.hero {
    flex-direction: column;
    padding: 0;
    margin: 20px auto;
  }

  img.hero-img {
    display: none;
  }

  img.hero-font {
    padding: 0 10px;
    max-width: 500px;
  }
}

.hero-headline {
  font-size: 2.8em;
  margin-bottom: 0px;
}

.hero-subheadline {
  font-size: 1.8em;
  margin-bottom: 20px;
}

a {
  color: $brightPrim;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: rgba($brightPrim, 0.3);
}

.nav {
  z-index: 1;
  width: 100%;
  max-width: 1100px;
  padding: 0.5em 1em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    font-weight: 600;
  }

  .nav-right {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 2em;
    align-items: center;
  }

  .nav-right a {
    display: flex;
    align-items: center;
  }

  .nav-item {
    &.active {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 6px;
      text-decoration-color: $brightScnd;
    }

    &:hover {
      color: $brightScnd;
      transition: color 0.3s;
    }
  }
}

.container {
  flex: 1 0 auto;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3em 0; 
}

.section-content {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.section-image {
  max-width: 50%;
  height: auto;
  margin: auto;
}

.section-text {
  max-width: 50%;
  text-align: left;
}

.section-paragraph {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

b {
  color: black;
}

.dark b {
  color: white;
}

ul, ol {
  line-height: 1.5em;
}

ul {
  list-style-type: square;
}

ul li {
  margin-bottom: 0.8em;
}


.topbox {
  display: flex;
  margin-top: 20px;
  justify-content: end;
}

blockquote {
  font-style: italic;
  margin: 20px -25px;
  padding: 0px 20px;
  border-left: 4px solid $brightPrim;
}

.footer {
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 40px auto;

  .copyright {
    color: $brightScnd;
  }
}

.font-medium {
  font-weight: 500;
}

.button {
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
  background-color: $brightPrim;
  color: white;
  white-space: nowrap;
}

.button a {
  color: white;
}

.dark {
  color: $darkPrim;
  background-color: $darkBgrd;
}

.dark a {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: $brightBgrd;
}

.dark h1, .dark h2 {
  color: white;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  text-decoration-color: $brightBgrd;
}

#icon-moon {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

#icon-sun {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

del {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .hero-headline {
    font-size: 2em;
  }

  .hero-subheadline {
    font-size: 1.2em;
  }

  img.hero {
    width: 100%;
  }

  .nav {
    flex-direction: column; /* Stack items vertically on small screens */

    .nav-right {
      gap: 1.4em;
      margin-right: 0; /* Remove extra margin on small screens */
      justify-content: center; /* Center items on small screens */
    }

    .nav-item.button {
        display: none;
    }
  }

  .section-image {
    display: none;
  }

  .section-content {
    max-width: auto;
  }

  .section-text {
    max-width: 100%;
  }
}

.logo {
  fill: $darkBgrd;
  transition: fill 0.2s;
}

.logo:hover {
  fill: $brightScnd;
}

table {
  border-collapse: collapse; /* Ensures that there's no space between borders */
  width: 100%; /* Adjust the width as needed */
  margin-bottom: 25px;
}

th, td {
  padding: 8px; /* Adjust the padding as needed */
  text-align: left; /* Aligns text to the left, change as needed */
  border-right: 1px solid rgba(white, 0.3); /* Adds vertical borders */
  border-bottom: 1px solid rgba(white, 0.3); /* Adds horizontal borders */
}

th:last-child, td:last-child {
  border-right: none; /* Removes the right border from the last cell */
}

tr:last-child td {
  border-bottom: none; /* Removes the bottom border from the last row */
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: $heroDark;
    color: $darkPrim;

    h1,h2,h3,h4,h5,h6 {
      color: white;
    }

    .logo {
      fill: white;
    }

    .nav {
      .nav-item.active {
        text-decoration-color: $brightBgrd 
      }

      .nav-item:hover {
        color: $brightBgrd;
      }
    }

    .dark {
      background-color: $darkBgrd;
    }

    /* Allow to explicitly invert colors in dark mode where needed */
    .invert {
      filter: invert(1);
    }

    a {
      color: white;
      text-decoration-color: rgba(white, 0.3);
    }

    .article code:not(pre > code) {
      color: white; 
      border: 1px solid rgba(white, 0.5);
    }

    b {
      color: white;
    }

    .footer .copyright {
      color: $darkPrim;
    }

    blockquote {
      border-left-color: $brightScnd;
    }

  }
}
