
.homepage {
  text-align: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 2em;

    & > * {
      flex-basis: 1.5em;
    }

    .content-title {
      display: flex;
      flex-direction: column;
      font-size: 2.8em;
      font-weight: 600;
    }

    .content-subtitle {
      display: flex;
      flex-direction: column;
    }

    .content-icons {
      margin: 1em;
      font-size: 1.75em;
      a {
        position: relative;
        margin: 0 0.2em;
      }
    }

    .content-icon {
      width: 32px;
    }
  }
}
