
.homepage {
  text-align: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2em;

    margin-top: 2em;

    & > * {
      flex-basis: 1.5em;
    }

    .content-icons {
      margin: auto;
      font-size: 1.75em;
      display: flex;
      gap: 0.6em;
      a {
        position: relative;
      }
    }

    .content-icon {
      width: 32px;
    }
  }
}


@media (prefers-color-scheme: dark) {
  /* Make social icons white on the homepage in dark mode */
  .content-icons > a > img {
    filter: invert(1);
    opacity: 0.7;
  }
}