<div class="info dashed">
  <div class="info-header">
    <i class="icon icon-info"></i>
    <h4>Proudly Supported by CodeCrafters</h4>
  </div>
  <p>
    CodeCrafters helps you become proficient in Rust by building real-world,
    production-grade projects. Learn hands-on by creating your own shell, HTTP
    server, Redis, Kafka, Git, SQLite, or DNS service from scratch.
  </p>
  <p>
    Start for free today and enjoy 40% off any paid plan by using
    <a href="https://app.codecrafters.io/join?via=mre">this link</a>.
  </p>
</div>
