{% set parts = player | split(pat="?t=") %}
{% set episode = parts[0] %}
{% if parts | length > 1 %}
    {% set t_clean = parts[1] | replace(from="%3A", to=":") | replace(from="%3a", to=":") %}
{% else %}
    {% set t_clean = "" %}
{% endif %}

{% if attribution %}
    {% set attr_parts = attribution | split(pat=", ", limit=2) %}
    {% set author = attr_parts[0] %}
    {% if attr_parts | length > 1 %}
        {% set role = attr_parts[1] %}
    {% else %}
        {% set role = "" %}
    {% endif %}
{% endif %}

{% set season_num = episode | split(pat="e") | first | replace(from="s", to="") %}
{% set ep_num = episode | split(pat="-") | first | split(pat="e") | last %}

{% if t_clean %}
    {% set time_parts = t_clean | split(pat=":") %}
    {% if time_parts | length == 3 %}
        {% set h = time_parts[0] | int %}
        {% set m = time_parts[1] | int %}
        {% set s = time_parts[2] | int %}
    {% elif time_parts | length == 2 %}
        {% set h = 0 %}
        {% set m = time_parts[0] | int %}
        {% set s = time_parts[1] | int %}
    {% else %}
        {% set h = 0 %}
        {% set m = 0 %}
        {% set s = time_parts[0] | int %}
    {% endif %}
    {% set t_millis = (h * 3600 + m * 60 + s) * 1000 %}
{% endif %}

<blockquote>
    {{ body | markdown() | safe }}
    <p>
        &mdash; <a href="/podcast/{{ episode }}{% if t_clean %}?t={{ t_clean | urlencode }}{% endif %}">{{ author }}</a>{% if role %}, {{ role }}{% endif %} (<a href="/podcast/{{ episode }}{% if t_clean %}?t={{ t_clean | urlencode }}{% endif %}">Rust in Production, S{{ season_num }}E{{ ep_num }}</a>)
    </p>
</blockquote>
<div>
    {% if t_clean %}
    <script>
        window.podloveOverrides = window.podloveOverrides || {};
        window.podloveOverrides['#player-{{ id }}'] = {{ t_millis }};
        
        if (typeof window.podlovePlayer === 'function') {
            if (!window.podlovePlayer.__hooked) {
                let orig = window.podlovePlayer;
                window.podlovePlayer = function(selector, episode, config) {
                    if (window.podloveOverrides[selector]) {
                        config.sharePlaytime = false;
                        config.playtime = window.podloveOverrides[selector];
                    }
                    let promise = orig(selector, episode, config);
                    if (window.podloveOverrides[selector]) {
                        promise.then(function(store) {
                            store.dispatch({ type: 'REQUEST_PLAYTIME', payload: window.podloveOverrides[selector] });
                        });
                    }
                    return promise;
                };
                window.podlovePlayer.__hooked = true;
            }
        } else if (!window.podloveHooked) {
            window.podloveHooked = true;
            let _co = undefined;
            Object.defineProperty(window, 'podlovePlayer', {
                get: function() { return _co; },
                set: function(val) {
                    if (_co && _co.__hooked) return;
                    let orig = val;
                    _co = function(selector, episode, config) {
                        if (window.podloveOverrides[selector]) {
                            config.sharePlaytime = false;
                            config.playtime = window.podloveOverrides[selector];
                        }
                        let promise = orig(selector, episode, config);
                        if (window.podloveOverrides[selector]) {
                            promise.then(function(store) {
                                store.dispatch({ type: 'REQUEST_PLAYTIME', payload: window.podloveOverrides[selector] });
                            });
                        }
                        return promise;
                    };
                    _co.__hooked = true;
                },
                configurable: true
            });
        }
    </script>
    {% endif %}
    <script
        id="letscast-player-{{ id }}"
        src="https://letscast.fm/podcasts/rust-in-production-82281512/episodes/{{ slug }}/player.js?size=s{% if t_clean %}&t={{ t_clean | urlencode }}{% endif %}"
    ></script>
</div>
