{% set ep_parts = player | split(pat="?t=") %}
{% set ep = ep_parts | nth(n=0) %}
{% set t = ep_parts | nth(n=1) | default(value="") | replace(from="%3A", to=":") | replace(from="%3a", to=":") %}

{% set attr_parts = attribution | split(pat=", ", limit=2) %}
{% set author = attr_parts | nth(n=0) %}
{% set role = attr_parts | nth(n=1) | default(value="") %}

{% set season_num = ep | split(pat="e") | nth(n=0) | replace(from="s", to="") %}
{% set ep_num = ep | split(pat="-") | nth(n=0) | split(pat="e") | nth(n=1) %}

{% if t %}
    {% set t_parts = t | split(pat=":") | reverse %}
    {% set s = t_parts | nth(n=0) | default(value="0") | int %}
    {% set m = t_parts | nth(n=1) | default(value="0") | int %}
    {% set h = t_parts | nth(n=2) | default(value="0") | int %}
    {% set t_millis = (h * 3600 + m * 60 + s) * 1000 %}
{% endif %}

<blockquote>
    {{ body | markdown() | safe }}
    <p>
        &mdash; <a href="/podcast/{{ ep }}{% if t %}?t={{ t | urlencode }}{% endif %}">{{ author }}</a>{% if role %}, {{ role }}{% endif %} (<a href="/podcast/{{ ep }}{% if t %}?t={{ t | urlencode }}{% endif %}">Rust in Production, S{{ season_num }}E{{ ep_num }}</a>)
    </p>
</blockquote>
<div>
    {% if t %}
    <script>
        window.podloveOverrides = window.podloveOverrides || {};
        window.podloveOverrides['#player-{{ id }}'] = {{ t_millis }};
        
        if (!window.podloveHooked) {
            window.podloveHooked = true;
            const hook = (orig) => {
                if (orig.__hooked) return orig;
                const hooked = function(selector, episode, config) {
                    let override = window.podloveOverrides[selector];
                    if (override) {
                        config.sharePlaytime = false;
                        config.playtime = override;
                    }
                    let promise = orig(selector, episode, config);
                    if (override) {
                        promise.then(store => store.dispatch({ type: 'REQUEST_PLAYTIME', payload: override }));
                    }
                    return promise;
                };
                hooked.__hooked = true;
                return hooked;
            };

            if (typeof window.podlovePlayer === 'function') {
                window.podlovePlayer = hook(window.podlovePlayer);
            } else {
                let _co = undefined;
                Object.defineProperty(window, 'podlovePlayer', {
                    get: () => _co,
                    set: (val) => { _co = hook(val); },
                    configurable: true
                });
            }
        }
    </script>
    {% endif %}
    <script id="letscast-player-{{ id }}" src="https://letscast.fm/podcasts/rust-in-production-82281512/episodes/{{ slug }}/player.js?size=s"></script>
</div>
