<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ config.extra.author }}</title>
  <meta name="author" content="{{ config.extra.author }}">
  <meta name="description" content="Corrode Rust Consulting | Trainings and Contracting">

  <!-- Open Graph tags -->
  <meta property="og:title" content="{{ config.extra.author }}">
  <meta property="og:description" content="Rust consulting and development based in Germany that puts people first.">
  <meta property="og:image" content="{{ config.base_url ~ '/social/social.png' }}">
  <meta property="og:url" content="{{ config.base_url }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ config.extra.author }}">

  <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ config.extra.author }}">
  <meta name="twitter:description" content="Rust consulting and development based in Germany that puts people first.">
  <meta name="twitter:image" content="{{ config.base_url ~ '/social/social.png' }}">

  <link rel="me" href="https://mastodon.social/@mre">
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <link rel="alternate" type="application/rss+xml" title="Corrode RSS feed" href="/rss.xml">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <script type="module" src="{{ config.base_url ~ '/js/oxitraffic.js' }}" defer></script>
</head>


<body>
  <div class="app">
    <nav class="nav">
      <a {% if current_path and current_path == "/" %} class="nav-item active" {% else %} class="nav-item" {% endif %}
          {% if lang == "en" %} href="{{ config.base_url ~ '/' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang}}" {% endif %}
      >
        <img src="{{ config.base_url ~ '/corrode.svg' }}" alt="corrode" width="200" height="85">
      </a>
      <div class="nav-right">
        <a {% if current_path and current_path is containing("/about") %}class="nav-item active"{% else %}class="nav-item"{% endif %}
            {% if lang == "en" %} href="{{ config.base_url ~ '/about' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang ~ '/about'}}" {% endif %}
        >
            <span>About</span>
        </a>
        <a {% if current_path and current_path is containing("/blog") %}class="nav-item active"{% else %}class="nav-item"{% endif %}
            {% if lang == "en" %} href="{{ config.base_url ~ '/blog' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang ~ '/blog'}}" {% endif %}
        >
            <span>Blog</span>
        </a>
        <a {% if  current_path and current_path is containing("/legal") %}class="nav-item active"{% else %}class="nav-item"{% endif %}
            {% if lang == "en" %} href="{{ config.base_url ~ '/legal' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang ~ '/legal'}}" {% endif %}
        >
            <span>Legal</span>
        </a>
        <a class="nav-item button"
            {% if lang == "en" %} href="{{ config.base_url ~ '/quote' }}" {% else %} href="{{ config.base_url ~ '/' ~ job ~ '/quote'}}" {% endif %}
        >
            <span>Get a Quote</span>
        </a>
      </div>
    </nav>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="footer">
      {% block footer %}
        <div>
          <span class="copyright">©</span>&nbsp;2023 corrode &mdash; D&uuml;sseldorf, Germany
        </div>
      {% endblock footer %}
    </footer>
  </div>
</body>
</html>
