<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{config.extra.author }} </title>
  <meta name="author" content="{{ config.extra.author }}">
  <meta name=description content="Personal website of a web developer using zola static generator website.">
  <meta property="og:title" content="{{ config.extra.author }}">
  <meta property="og:image" content="{{config.base_url ~ '/corrode.svg' }}">
  <meta property="og:description" content="Personal website of a web developer using zola static generator website.">
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
</head>

<body>
  <div class="app">
    <nav class="nav">
      <a {% if current_path == "/" or current_path == "fr/" %} class="nav-item active" {% else %} class="nav_item" {% endif %}
          {% if lang == "en" %} href="{{ config.base_url ~ '/' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang}}" {% endif %}
      >
        <img src="{{ config.base_url ~ '/corrode.svg' }}" alt="corrode" width="200">
      </a>
      <div class="nav-right">
        <a {% if current_path is containing("/about") %}class="nav-item active"{% else %}class="nav-item"{% endif %}
            {% if lang == "en" %} href="{{ config.base_url ~ '/about' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang ~ '/about'}}" {% endif %}
        >
            <span>About</span>
        </a>
        <a {% if current_path is containing("/legal") %}class="nav-item active"{% else %}class="nav-item"{% endif %}
            {% if lang == "en" %} href="{{ config.base_url ~ '/legal' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang ~ '/legal'}}" {% endif %}
        >
            <span>Legal</span>
        </a>
      </div>
    </nav>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="footer">
      <span class="copyright">©</span>&nbsp;2023 - D&uuml;sseldorf, Germany
    </footer>
  </div>
</body>
</html>
