<h2>Frequently Asked Questions</h2>
<section class="faq-section">
  <ul class="faq-list">
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          Do I need prior programming experience?
        </summary>
        <p>
          You don't need any prior Rust experience. However, you should be
          familiar with another programming language like Python, JavaScript,
          Java, C, C++, etc. Our courses are structured to assist beginners,
          especially in our "Learning Rust by Counting Words" course.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          How does the live mentorship work?
        </summary>
        <p>
          Live mentorship involves real-time sessions with experienced Rust
          developers who guide you through the course material and answer your
          questions.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          What if I can't attend the live sessions?
        </summary>
        <p>
          All live sessions are recorded and made available to students. You can
          also ask questions in our Discord server.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          What if I can't afford the course?
        </summary>
        <p>
          We offer a limited number of scholarships for students who can't
          afford the course. Please get in touch.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          What if I'm not satisfied with the course?
        </summary>
        <p>
          If you're not satisfied with the course, we'll refund your money. No
          questions asked.
        </p>
      </details>
    </li>
  </ul>
</section>
