<h2>Frequently Asked Questions</h2>
<section class="faq-section">
  <ul class="faq-list">
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          Do I need any prior programming experience?
        </summary>
        <p>
          For the beginner workshop you don't need any prior Rust experience.
          However, you should be familiar with another programming language like
          Python, JavaScript, Java, C, C++, etc. For the advanced workshop you
          should have a good understanding of the Rust basics and be familiar
          with the Rust ecosystem.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          How does the live mentorship work?
        </summary>
        <p>
          Live mentorship involves real-time sessions with experienced Rust
          developers who guide you through the workshop material and answer your
          questions.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          What if I can't attend the live sessions?
        </summary>
        <p>
          All live sessions are recorded and made available to students. You can
          also ask questions in our Discord server.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">Do I get a certificate?</summary>
        <p>
          Yes, you get a certificate of completion after finishing a workshop.
          The certificate mentions the workshop name, the level, the duration of
          the workshop, your name, and the date of completion. You can use the
          certificate to present to your employer or add to your resume.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          What if I can't afford the workshop?
        </summary>
        <p>
          The workshops are open source and available for free. However, we
          recommend you to enroll in the workshop to get the most out of it. We
          offer a limited number of scholarships for students who can't afford
          the workshop. Please get in touch.
        </p>
      </details>
    </li>
    <li class="faq-item">
      <details class="faq-details">
        <summary class="faq-summary">
          What if I'm not satisfied with the workshop?
        </summary>
        <p>
          If you're not satisfied with the workshop, we'll refund your money. No
          questions asked.
        </p>
      </details>
    </li>
  </ul>
</section>
