<footer class="site-footer">
    {% include "snippets/newsletter.html" %}
    <div class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h2>Offerings</h2>
                <ul class="footer-links">
                    <li><a href="/services/">For Teams</a></li>
                    <li><a href="/mentorship/">For Individuals</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h2>Resources</h2>
                <ul class="footer-links">
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/podcast">Podcast</a></li>
                    <li><a href="/workshops/">Workshops</a></li>
                    <li><a href="/blog/why-rust/">Why Rust?</a></li>
                    <li><a href="/learn/case-studies/">Case Studies</a></li>
                    <li><a href="/blog/rust-conferences-2025/">Conferences</a></li>
                    <li>
                        <a href="/blog/idiomatic-rust-resources/"
                            >Learning Resources</a
                        >
                    </li>
                </ul>
            </div>

            <div class="footer-column">
                <h2>Tools</h2>
                <ul class="footer-links">
                    <li>
                        <a href="https://course.corrode.dev/" rel="noreferrer"
                            >Learn Rust</a
                        >
                    </li>
                    <li>
                        <a href="https://search.corrode.dev/" rel="noreferrer"
                            >Rust Search</a
                        >
                    </li>
                    <li>
                        <a href="https://tools.corrode.dev/" rel="noreferrer"
                            >Rust Tool Index</a
                        >
                    </li>
                </ul>
            </div>

            <div class="footer-column">
                <h2>Migration Guides</h2>
                <ul class="footer-links">
                    <li>
                        <a href="/learn/migration-guides/python-to-rust/">Python</a>
                    </li>
                    <li>
                        <a href="/learn/migration-guides/typescript-to-rust/"
                            >TypeScript</a
                        >
                    </li>
                    <li>
                        <a href="/learn/migration-guides/java-to-rust/">Java</a>
                    </li>
                    <li>
                        <a href="/learn/migration-guides/scala-to-rust/">Scala</a>
                    </li>
                    <li><a href="/learn/migration-guides/cpp-to-rust/">C++</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h2>Company</h2>
                <ul class="footer-links">
                    <li><a href="https://github.com/corrode">GitHub</a></li>
                    <li>
                        <a href="https://www.linkedin.com/company/corrode/"
                            >LinkedIn</a
                        >
                    </li>
                    <li><a href="/legal/">Legal Notice</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
