<div class="callout">
  <h2>Subscribe to Rust In Production</h2>
  <p>
    Rust in Production is a bi-weekly podcast by corrode. New episodes are
    released every other Thursday at 4pm UTC. You can subscribe to new episodes
    on
    <a
      href="https://podcasts.apple.com/us/podcast/rust-in-production/id1720771330"
      >Apple</a
    >,
    <a href="https://open.spotify.com/show/0Hf6gWrzpSzXp1X0cebbsT">Spotify</a>,
    <a
      href="https://www.youtube.com/playlist?list=PLbWDhxwM_45lkJfL95zELDgO01mnrRQ6t"
      >YouTube</a
    >,
    <a
      href="https://podcasters.amazon.com/podcasts/acc3a064-4c50-42de-940e-61726d73514a"
      >Amazon</a
    >, or through our
    <a href="https://letscast.fm/podcasts/rust-in-production-82281512/feed"
      >RSS feed</a
    >.
  </p>
  <ul>
    <li>
      <a
        href="https://letscast.fm/podcasts/rust-in-production-82281512/feed"
        ><img
          class="invert"
          src="/podcast/rss.svg"
          alt="RSS"
          width="25"
          height="25"
        />
        RSS
      </a>
    </li>
    <li>
      <a
        href="https://podcasts.apple.com/us/podcast/rust-in-production/id1720771330"
        ><img
          class="invert"
          src="/podcast/apple.svg"
          alt="Apple Podcasts"
          width="25"
          height="25"
        />
        Apple Podcasts
      </a>
    </li>
    <li>
      <a href="https://open.spotify.com/show/0Hf6gWrzpSzXp1X0cebbsT"
        ><img
          class="invert"
          src="/podcast/spotify.svg"
          alt="Spotify"
          width="25"
          height="25"
        />
        Spotify
      </a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/playlist?list=PLbWDhxwM_45lkJfL95zELDgO01mnrRQ6t"
        ><img
          class="invert"
          src="/podcast/youtube.svg"
          alt="YouTube"
          width="25"
          height="25"
        />
        YouTube
      </a>
    </li>
  </ul>
</div>
