{% extends "base.html" %}

{% block content %}
<article>
  <div class="article-heading">
    {% if page.extra.series %}
    <h2 class="subheading">{{ page.extra.series }}</h2>
    {% endif %}
    <h1>{{ page.title }}</h1>

    {% if page.extra.hero %}
    <div class="article-hero">
      <img
        {% if page.extra.hero_classes %} 
        class="{{ page.extra.hero_classes }}"
        {% endif %}
        src="{{ page.extra.hero }}" alt="{{ page.title }}" />
    </div>
    {% endif %}
  </div>
  <div class="article-content-wrapper">
    {% if page.extra.wide %}
    <div class="article-content-wide">
    {% else %}
    <div class="article-content">
    {% endif %}

      {{ page.content | safe }}
    </div>
  </div>

  <div class="article-footer">
    {% if page.extra.resources %}
    <div class="article-resources">
      <h2>Additional Resources</h2>
      <ul>
        {% for resource in page.extra.resources %}
        <li>{{ resource | markdown() | safe }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} 
    {% if page.extra.revisions %}
    <div class="article-revisions">
      Revision notes: {{ page.extra.revisions | markdown(inline=true) | safe }}
    </div>
    {% endif %}

    <div class="social">
      <div class="share-icons">{% include "snippets/social.html" %}</div>
      <div class="editor-credits">{% include "snippets/credits.html" %}</div>
    </div>

    {% include "snippets/newsletter.html" %}

    <div class="topbox">&uarr; <a href="#top">Back to top</a></div>
  </div>
</article>
{% endblock content %}
