{% extends "base.html" %} {% block content %}
<article>
  <h2 class="subheading">{{ page.extra.series }}</h2>
  <h1>{{ page.title }}</h1>
  <div class="article-content">{{ page.content | safe }}</div>

  {% if page.extra.resources %}
  <div class="article-resources">
    <h2>Learning resources</h2>
    <ul>
      {% for resource in page.extra.resources %}
      <li>{{ resource | markdown() | safe }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% if page.extra.revisions %}
  <div class="article-revisions">
    <span class="revision-notes">Revision notes:</span> {{ page.extra.revisions
    | markdown(inline=true) | safe }}
  </div>
  {%- endif %}

  <div class="social">
    <div class="share-icons">{% include "snippets/social.html" %}</div>
    <div class="editor-credits">{% include "snippets/credits.html" %}</div>
  </div>

  {% include "snippets/newsletter.html" %}

  <div class="topbox">&uarr; <a href="#top">Back to top</a></div>
</article>
{% endblock content %}
