{% extends "base.html" %} {% block content %}
<article class="section-wrapper">
  <h1>Blog</h1>
  <p>
    This is an ongoing series of articles about <b>idiomatic Rust</b> and
    <b>best practices</b>.<br />
    Sign up to my newsletter below to be notified when I publish new articles.
  </p>

  <div>{{ section.content | safe }}</div>

  {% for extra_key, grouped_pages in section.pages | filter(attribute="draft",
  value=false) | group_by(attribute="extra.series") %}

  <h3>{{ extra_key }}</h3>
  <ul>
    {% for page in grouped_pages | sort(attribute="date") | reverse %}
    <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %} {% include "snippets/newsletter.html" %}
</article>
{% endblock content %}
